<div>
    <md-toolbar>
        <h3> Add User </h3>
    </md-toolbar>
    <form name="form" ng-submit="submitData()" layout="column">
        <div style="margin: auto">
            <div class="md-padding">
                <md-input-container>
                    <label for="user.userName"> User Name </label>
                    <!-- <input type="text" ng-model="user.userName" required> -->
                    <md-autocomplete
                        md-no-cache="true"
                        md-selected-item="selectedItem"
                        md-search-text-change="searchTextChange(user.userName)"
                        md-search-text="user.userName"
                        md-selected-item-change="selectedItemChange(item)"
                        md-items="item in querySearch(user.userName)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="User Name"
                        flex    
                    >
                        <md-item-template>
                            <span md-highlight-text="user.userName" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                            
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
            </div>
            <div layout="row" class="md-padding">
            <md-input-container>
                <label for="user.userAge"> Age </label>
                <input type="number" ng-model="user.userAge" required>
            </md-input-container>
            <md-input-container>
                    <label for="user.userEmail"> Email </label>
                    <input type="email" ng-model="user.userEmail" required>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container style="margin: auto">
                    <md-button type="submit" class="md-primary md-raised" ng-click="submitData()"> Submit </md-button>
                </md-input-container>
                <md-input-container style="margin: auto">
                    <md-button class="md-primary md-raised" ui-sref="home"> Cancel </md-button>
                </md-input-container>
            </div>
        </div>
    </form>
</div>